JWT_SECRET = your_secret_key_change_me
JWT_REFRESH_SECRET = your_super_secret_key_change_me
JWT_EXPIRE_MINUTES = 10
JWT_REFRESH_EXPIRE_DAYS = 7
MAIL_USERNAME= your_email@gmail.com
MAIL_PASSWORD = your_app_password
MAIL_FROM = your_email@gmail.com
SMTP_SERVER = smtp.gmail.com
SMTP_PORT = 587
MEDIA_URL = /media
MEDIA_ROOT = media
ALLOWED_ORIGINS=localhost1, localhost2, ...